 *{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-color: white;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

a{
    text-decoration:none;
    color:white;

}


a:hover{
    color: yellow;
    transform: scale(1.2);
}

p{
    text-align: justify;
    padding: 5px 20px;
}

h1{

    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    font-size: 5vw;
}

header nav ul li:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
}

header{   
    background-color: rgb(204, 84, 41);
    color:white;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: fixed;
    overflow: hidden;
    z-index: 200;
}

header div{
    letter-spacing: 0.2em;
    word-spacing: 1em;
    padding-bottom: 40px;
}

header nav ul li{
    float:left;
    padding-left: 2em;
    text-justify: auto;
    list-style: none;
}

.text-box{
    position: absolute;
    top: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    font-size: 10vw;
}

.container{
    position: relative;
}


.text-area a{
   
    background-color: rgb(204, 84, 41);
    padding: 10px;
}

.text-area img{
    padding: 15px;
}

.parallax{
    background-size: cover;
}

.parallax-inner{
    padding-top:3%;
    padding-bottom: 3%;
}

.pi02{
    background:url("images/Tour29.webp")
        repeat fixed 100%;
}

.pi01{
    background:url("images/Tour03.webp")
        repeat fixed 100%;
}

.column {
    float: left;
  }

  .left{
    width: 33%;
  }

  .right{
    width: 67%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }