*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

a{
    text-decoration:none;
    color:white;
    background-color: rgb(204, 84, 41);
    padding: 10px;
}


a:hover{
    color: yellow;
    transform: scale(1.2);
}

p{
    text-align: justify;
    padding: 5px 20px;
}

header nav ul li:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
}

header{   
    background-color: rgb(204, 84, 41);
    color:white;
    width: 100%;
    height: 110px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
    position: fixed;

    z-index: 200;
}

header div{
    letter-spacing: 0.2em;
    word-spacing: 1em;
    padding-bottom:15px;
}

header nav ul li{
    float:left;
    padding-left: 2em;
    text-justify: auto;
    list-style: none;
}

.text-box{
    position: absolute;
    top: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    font-size: 10vw;
}

.container{
    position: relative;
}

.text-area img{
    padding: 15px;
}



/*-----Amazing background-----*/
.parallax{
    background-size: cover;
}

.parallax-inner{
    padding-top:5%;
    padding-bottom: 5%;
}

.pi01{
    background:url("images/Tour29.webp")
        repeat fixed 100%;
}

.pi02{
    background:url("images/Tour18.webp")
        repeat fixed 100%;
}


.parallax a{
    background-color: transparent;
}




/*---x--Amazing background--x---*/
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* parallel paragraphss */
.columnA {
    float: left;
    width: 66.33%;
    padding: 10px;
  }
  
  .columnB {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  
  .rowx:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 480px) {
  
          .columnA{
              width: 0%;
              visibility:hide;
              overflow:hidden;
              display:none;
            }
          .columnB {
            width: 100%;
          } 
      }
  .box-1{
    background:url("images/Tour29.webp")
    repeat fixed 100%;
    color: #fff;
    border: 10px coral solid;
    border-width: 7px;
    padding: 30px;
}




details{
    font-size: 3vw;
    color: white;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.555);
}

.my-form{
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.form-group{
  padding-bottom: 15px;
  color: white;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width:60%;
}

.my-form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
}

/*-------Amazing places-------*/


/* Basic */

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }

}

/* Image */

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        border-radius: 4px;
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 1.5em 1em 0;
        top: 0.25em;
    }

    .image.right {
        float: right;
        margin: 0 0 1em 1.5em;
        top: 0.25em;
    }

    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
        width: 300px;
    }

        .image.main img {
            width: 100%;
        }
/* Columns */
.columns {
    position: relative;
    column-count: 4;
    column-gap: 1em;
}

    .columns .image {
        position: relative;
        display: inline-block;
        margin: 0 0 .5em;
        width: 100%;
        overflow: hidden;
    }

        .columns .image img {
            transition: transform 0.2s ease-in-out;
        }

        .columns .image:hover img {
            transform: scale(1.1);
        }

    @media screen and (max-width: 736px) {
        .columns {
            column-count: 2;
        }
        
    }

    @media screen and (max-width: 480px) {
        .columns {
            column-count: 1;
        }
        .column1{
            width: 0%;
            visibility:hide;
            overflow:hidden;
            display:none;
          }
        .column2 {
          width: 100%;
        } 
    }

    .columns{
        background: rgb(204, 84, 41);;
    }
/*---x---Amazing places---x---*/

article {
    -webkit-column-width: 360px;
    -moz-column-width: 360p;
    column-width: 360p;
    padding: 20px;
    margin-bottom: 30px;
  }

  footer{
      background:url("images/Tour03.webp");   
  }
  
  footer a{
    background-color: rgba(0, 0, 0, 0.555);
      font-weight: 500;
  }
  
  footer article{
      color: white;
  }

 fieldset{
      text-align: left;
      background-color: rgb(230, 111, 64);
      list-style: none;
      padding-left: 40px;
      font-size: 2vw;
      color: black;
  }
 