*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }


body{
    background-color: white;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

a{
    text-decoration:none;
    color:white;
    background-color: rgb(204, 84, 41);
    padding: 10px;
}

#home-icon{
    display: none;
}

a:hover{
    color: yellow;
    transform: scale(1.2);
}

p{
    text-align: justify;
    padding: 5px 20px;
}

header nav ul li:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
}

header{   
    background-color: rgb(204, 84, 41);
    color:white;
    width: 100%;
    height: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: fixed;

    z-index: 200;
}

header div{
    letter-spacing: 0.2em;
    word-spacing: 1em;
    padding-bottom:15px;

}

header nav ul li{
    float:left;
    padding-left: 2em;
    text-justify: auto;
    list-style: none;
}

.text-box{
    position: absolute;
    top: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    font-size: 10vw;
}

.container{
    position: relative;
}

.text-area img{
    padding: 15px;
}



/*-----Amazing background-----*/
.parallax{
    background-size: cover;
}

.parallax-inner{
    padding-top:5%;
    padding-bottom: 5%;
}

.pi01{
    background:url("images/Tour29.webp")
        repeat fixed 100%;
}

.pi02{
    background:url("images/Tour18.webp")
        repeat fixed 100%;
}


.parallax a{
    background-color: transparent;
}




/*---x--Amazing background--x---*/
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* parallel paragraphss */
.columnA {
    float: left;
    width: 66.33%;
    padding: 10px;
  }
  
  .columnB {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  
  .rowx:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 480px) {
  
          .columnA{
              width: 0%;
              visibility:hide;
              overflow:hidden;
              display:none;
            }
          .columnB {
            width: 100%;
          } 
      }
  .box-1{
    background:url("images/Tour29.webp")
    repeat fixed 100%;
    color: #fff;
    padding: 30px;

}




details{
    font-size: 3vw;
    color: white;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.555);
}

.my-form{
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.form-group{
  padding-bottom: 15px;
  color: white;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width:60%;
}

.my-form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
}

/*-------Amazing places-------*/


/* @-ms-viewport */

@viewport {
    width: device-width;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}
/*-----Navigation------ */
@media screen and (max-width:700px){
    header nav ul {
        position: absolute;
        right: 0;
        top: 100px;
      }
      header nav ul li{
        float: none;
        display: block;
        text-align: left;
        padding: 5px;
      }

      #home-icon{
        display: inline;
    }

     #home-icon:hover{
         transform: scale(1.2);
     }

}
/*--x---Navigation---x--- */


/* Image */

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        border-radius: 4px;
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 1.5em 1em 0;
        top: 0.25em;
    }

    .image.right {
        float: right;
        margin: 0 0 1em 1.5em;
        top: 0.25em;
    }

    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
        width: 300px;
    }

        .image.main img {
            width: 100%;
        }
/* Columns */
.columns {
    position: relative;
    column-count: 4;
    column-gap: 1em;
}

    .columns .image {
        position: relative;
        display: inline-block;
        margin: 0 0 .5em;
        width: 100%;
        overflow: hidden;
    }

        .columns .image img {
            transition: transform 0.2s ease-in-out;
        }

        .columns .image:hover img {
            transform: scale(1.1);
        }

    @media screen and (max-width: 736px) {
        .columns {
            column-count: 2;
        }
        
    }

    @media screen and (max-width: 480px) {
        .columns {
            column-count: 1;
        }
    }


/*---x---Amazing places---x---*/

article {
    -moz-column-width: 360px;
    column-width: 360px;
    padding: 20px;
    margin-bottom: 30px;
  }

  footer{
      background:url("images/Tour03.webp");   
  }
  
  footer a{
    background-color: rgba(0, 0, 0, 0.555);
      font-weight: 500;
  }
  
  footer article{
      color: white;
  }

 fieldset{
      background-color: rgb(230, 111, 64);
      padding-left: 40px;
      font-size: 2vw;
      color: black;
  }

  #marginz{
      padding: 50px;
  }
 

  
.flex-box-padme{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.flex-box-padme img{
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;

}

.flex-box-padme img:hover{
      transform: scale(1.1);
      border: 2px solid red;
} 

.flex-box-images h4{
    position: relative;
    text-align: center;
    font-size: larger;
}



  /*Pluz effect*/
  .pulse{
    position: absolute;
    border-radius: 50%;
    animation: grow 1s infinite ease-in-out;
}
.pulse:nth-child(n){
    width: 100px;
    height: 100px;
    border: 1px solid #fbbc05; /* yellow */
    box-shadow: 0 0 10px #fbbc05;
}
.pulse:nth-child(2n){
    width: 50px;
    height: 50px;
    border: 1px solid #34a853; /* green */
    box-shadow: 0 0 10px #34a853;
}
.pulse:nth-child(3n){
    width: 150px;
    height: 150px;
    border: 1px solid #4285F4; /* blue */
    box-shadow: 0 0 10px #4285F4;
}
.pulse:nth-child(4n){
    width: 70px;
    height: 70px;
    border: 1px solid #DB4437; /* red */
    box-shadow: 0 0 10px #DB4437;
}
@keyframes grow{
    0%{
        transform: translate(-50%,-50%) scale(.5);
    }
    50%{
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-50%,-50%) scale(.5);
    }
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
